doctype html
html
  head
    meta(charset='utf-8')
    title Gnit
    link(rel='stylesheet', href='/app.css')

  body
    h1 Gnit
    #app
    footer
      a(href='https://github.com/Hanse/gnit') gnit on GitHub
    script(src='/dist.js')
