html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  max-width: 700px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 2;
  padding: 1.2em;
  color: #444;
}
h1 {
  font-size: 2em;
  font-weight: 700;
}
footer {
  text-align: center;
  padding: 20px;
}
.repos li {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}
.repos li:last-child {
  border: 0;
}
.repo-stats {
  color: #777;
  text-align: right;
  font-size: 15px;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 2px solid #ddd;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  outline: none;
}
a {
  color: #444;
  text-decoration: none;
}
a:hover {
  color: #222;
}

